.features {
  padding-bottom: 0;
  @media screen and (max-width: 767px) {
    --card-set-item: 1;
  }
  @media screen and (min-width: 768px) {
    --card-set-item: 2;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    --card-set-item: 4;
  }
}

.features__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--primary-text-color);
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.features--last-paragraph {
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.features__bg {
  background-color: var(--buttons-bgc);
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}
