.mobile-menu {
  background-color: var(--background-color);
  padding-left: 15px;
  padding-right: 15px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;

  &.is.open {
    opacity: 1;
  }
}
.modal_mobile-button {
  border: none;
}

.menu-toggle {
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
